/*******************
    CSS Styles
*******************/
body, html {
  height: 100%; }

nav {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: none;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 10px 0 0;
  height: 50px; }

.glow {
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1); }
