/*******************
    CSS Styles
*******************/
body, html {
  height: 100%;
  -webkit-overflow-scrolling: touch; }

nav {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: none;
  position: absolute;
  z-index: 9999; }
  nav ul li a {
    color: black; }

.nav-item {
  transition: none; }
  .nav-item a {
    transition: none; }

.tracking-menu {
  float: right;
  position: fixed; }

.hide {
  display: none; }

.parallax-container {
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column; }
  .parallax-container .quote {
    color: white; }
  .parallax-container .quote h5 {
    float: right; }

img.circle-scale {
  width: 56px;
  height: 56px; }

.section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url("../images/white-background.jpg"); }
  .section .title-box {
    width: 100%; }
  .section.full-height {
    height: 100vh; }

.noHover {
  pointer-events: none; }

.auto-img-resize {
  max-width: 100%;
  height: auto;
  width: auto; }

.sweep-right {
  display: inline-block;
  position: relative;
  width: 100%;
  cursor: pointer;
  background: none;
  z-index: 0; }

.card {
  cursor: pointer; }

.sweep-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: darkgrey;
  opacity: .7;
  transform: scaleX(0);
  transform-origin: 0 50%;
  transition: transform .3s ease-out; }

.card:hover .sweep-right:before {
  transform: scaleX(1); }

.close-and-heavy {
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1); }

.down-and-distant {
  text-shadow: 0px 3px 0px #b2a98f, 0px 14px 10px rgba(0, 0, 0, 0.15), 0px 24px 2px rgba(0, 0, 0, 0.1), 0px 34px 30px rgba(0, 0, 0, 0.1); }

.multiple-light-source {
  text-shadow: 0px 15px 5px rgba(0, 0, 0, 0.1), 10px 20px 5px rgba(0, 0, 0, 0.05), -10px 20px 5px rgba(0, 0, 0, 0.05); }
