/*******************
    CSS Styles
*******************/

body, html {
    height: 100%
}


nav {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: none;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px 0 0;
    height: 50px;
}

